php/Webino/skeleton/public/resized-images
php/Webino/skeleton/data/cache/zend_cache---internal-metadatas---app_options
php/Webino/skeleton/data/cache/zend_cache---app_options
php/Webino/skeleton/data/logs/*.log